.container {
  border-radius: var(--space-2);
}

.container:focus {
  box-shadow: 0 0 2px 2px #999999;
}

.button {
  position: relative;
  min-width: var(--space-6);
  min-height: var(--space-5);
  padding: var(--space-2);
  font-size: var(--font-sm);
  color: var(--palette-white);
  background-color: var(--color-primary);
}

.button_default {
  color: var(--palette-white);
  background-color: var(--color-primary);
}

.button_default:disabled {
  background-color: var(--color-disabled);
}

.button_outlined {
  color: var(--color-primary);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary);
}

.button_outlined:disabled {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.button:disabled:after {
  content: "\065C";
  position: absolute;
  right: var(--space-3);
  font-size: var(--font-lg);
  line-height: 100%;
  animation: fa-spin 2s linear infinite;
}

.link-anchor {
  display: block;
  text-align: center;
  line-height: normal;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
