.form {
    min-width: var(--widget-width);
    min-height: calc(var(--widget-width) * 4 / 3);
    padding: var(--space-5);
    display: flex;
    flex-flow: column;
    background: var(--palette-white);
    border-radius: var(--space-3);
}

.title {
    align-self: center;
    font-size: var(--font-lg);
}

.gap {
    flex: 1;
    min-height: var(--space-5);
}

.mode-change-button {
    margin-top: var(--space-2);
}
