.auth-form {
  min-height: 450px;
  padding: 50px 30px 30px;
  width: 340px;
  display: flex;
  flex-flow: column;
  background: var(--palette-white);
  border-radius: 12px;
  box-shadow: 0 0 6px #00000024;
}

.auth-form .title {
  align-self: center;
  font-size: var(--font-lg);
}

.auth-form .gap {
  flex: 1;
}

.auth-form .auth-mode-switch-link {
  align-self: center;

  /*font-size: 11px;*/
  font-size: var(--font-sm);
  /*line-height: 11px;*/

  /* remove ? */
  /*outline: none;*/
  /*color: #3369f3;*/
  /*font-weight: 500;*/
  margin-top: 14px;
}

.auth-form .auth-mode-switch-link:focus {
  box-shadow: 0 0 2px 2px #999
}
