.submit-button {
  position: relative;
  min-height: var(--space-5);
  min-width: var(--space-6);
  padding: var(--space-2);
  border-radius: 8px;
  font-size: var(--font-sm);
  background-color: var(--color-primary);
  color: var(--palette-white);
}

.submit-button:focus {
  box-shadow: 0 0 2px 2px #999
}

.submit-button:disabled {
  background-color: var(--palette-gray);
}

.submit-button:disabled:after {
  content: "\065C";
  position: absolute;
  right: var(--space-3);
  font-size: var(--font-lg);
  line-height: 100%;
  animation: fa-spin 2s linear infinite;
}

.auth-form {
  min-height: 450px;
  padding: 50px 30px 30px;
  width: 340px;
  display: flex;
  flex-flow: column;
  background: var(--palette-white);
  border-radius: 12px;
  box-shadow: 0 0 6px #00000024;
}

.auth-form .title {
  align-self: center;
  font-size: var(--font-lg);
}

.auth-form .gap {
  flex: 1;
}

.auth-form .auth-mode-switch-link {
  align-self: center;

  /*font-size: 11px;*/
  font-size: var(--font-sm);
  /*line-height: 11px;*/

  /* remove ? */
  /*outline: none;*/
  /*color: #3369f3;*/
  /*font-weight: 500;*/
  margin-top: 14px;
}

.auth-form .auth-mode-switch-link:focus {
  box-shadow: 0 0 2px 2px #999
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
